In [92]:
import pandas as pd
from bot_funtions import *

In [93]:
super_df=pd.read_csv('super_df.csv')
df=pd.read_csv('df.csv')

In [94]:
df

,OpenTime,open,high,low,close,volume,size,ma_7,ma_25,ma_40,...,pivot_high,pivot_low,atr,center,up,down,in_uptrend,lower_band,upper_band,ema_5_pos
0,2023-05-13 07:40:00,1802.43,1803.99,1802.29,1803.28,7076.382,0.047159,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,-1
1,2023-05-13 07:41:00,1803.28,1803.29,1802.30,1802.66,1766.215,0.034382,NaN,NaN,NaN,...,NaN,NaN,0.99,NaN,NaN,NaN,0,NaN,NaN,-1
2,2023-05-13 07:42:00,1802.66,1803.00,1802.37,1802.73,1388.432,0.003883,NaN,NaN,NaN,...,NaN,NaN,0.63,NaN,NaN,NaN,0,NaN,NaN,-1
3,2023-05-13 07:43:00,1802.72,1803.15,1802.44,1802.68,1442.487,0.002219,NaN,NaN,NaN,...,0.00,0.0,0.71,NaN,NaN,NaN,0,NaN,NaN,-1
4,2023-05-13 07:44:00,1802.69,1802.69,1802.24,1802.24,443.535,0.024963,NaN,NaN,NaN,...,0.00,0.0,0.45,NaN,NaN,NaN,0,NaN,NaN,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1491,2023-05-14 08:31:00,1802.40,1803.30,1802.40,1803.29,738.351,0.049379,1802.572857,1802.8448,1803.22700,...,0.00,0.0,0.91,1803.265,1802.355,1804.175,False,1802.355,1803.315,1
1492,2023-05-14 08:32:00,1803.30,1803.77,1803.29,1803.61,343.798,0.017191,1802.691429,1802.8528,1803.21075,...,0.00,0.0,0.48,1803.265,1802.785,1803.745,True,1802.785,1803.315,1
1493,2023-05-14 08:33:00,1803.61,1803.62,1803.45,1803.45,136.904,0.008871,1802.844286,1802.8820,1803.19050,...,0.00,1801.8,0.17,1802.777,1802.607,1802.947,True,1802.785,1802.947,1
1494,2023-05-14 08:34:00,1803.45,1803.47,1803.45,1803.46,404.035,0.000554,1802.992857,1802.9064,1803.18500,...,0.00,0.0,0.02,1802.777,1802.757,1802.797,True,1802.785,1802.797,1
1495,2023-05-14 08:35:00,1803.46,1803.64,1803.46,1803.63,464.667,0.009426,1803.162857,1802.9172,1803.19200,...,1803.77,0.0,0.18,1803.108,1802.928,1803.288,True,1802.928,1803.288,1

In [95]:
df.columns

Index(['OpenTime', 'open', 'high', 'low', 'close', 'volume', 'size', 'ma_7',
       'ma_25', 'ma_40', 'ma_55', 'ma_99', 'ma_100', 'ma_200', 'ema_5',
       'ema_20', 'ema_55', 'ema_100', 'ema_200', 'ema_9', 'prev_close',
       'prev_open', 'color', 'ema_33', 'rsi', 'macd', 'macdsignal', 'macdhist',
       'slowk', 'slowd', 'pivot_high', 'pivot_low', 'atr', 'center', 'up',
       'down', 'in_uptrend', 'lower_band', 'upper_band', 'ema_5_pos'],
      dtype='object')

In [96]:
trade_df=create_signal_df(super_df,df,'ETH','1m',1,12,100,100)

1496
1496
1496

In [97]:
trade_df

,signal,entry,tp,trade,close_price,TradeOpenTime,percentage,OpenTime,size,ma_7,...,prev_candle_4_slowd,prev_candle_0_volume,prev_candle_1_volume,prev_candle_2_volume,prev_candle_3_volume,prev_candle_4_volume,local_max_bar_2,local_min_bar_2,local_max_2,local_min_2
22,Sell,1804.05,-178600.95,L,1805.14,2023-05-13 11:11:00,-0.000604,2023-05-13 11:10:00,0.052632,1804.425714,...,9.554909,245.481,1418.499,387.082,361.714,419.899,0.0,0.0,1805.15,1804.14
23,Buy,1805.14,182319.14,L,1803.80,2023-05-13 11:13:00,-0.000742,2023-05-13 11:12:00,0.055428,1804.672857,...,55.433898,478.938,254.971,245.481,1418.499,387.082,3.0,4.0,1805.33,1803.80
24,Sell,1803.80,-178576.20,L,1805.31,2023-05-13 11:17:00,-0.000837,2023-05-13 11:16:00,0.059838,1804.517143,...,43.568199,1320.080,757.557,539.508,745.774,478.938,5.0,3.0,1805.40,1803.56
25,Buy,1805.31,182336.31,L,1802.74,2023-05-13 11:22:00,-0.001424,2023-05-13 11:21:00,0.034909,1804.251429,...,31.726066,1925.559,293.691,1856.547,416.623,566.653,0.0,4.0,1806.06,1802.46
26,Sell,1802.74,-178471.26,W,1801.87,2023-05-13 11:26:00,0.000483,2023-05-13 11:25:00,0.073168,1804.390000,...,33.070922,1544.150,823.925,1080.835,1828.228,1925.559,35.0,46.0,1803.65,1798.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126,Sell,1806.17,-178810.83,W,1804.72,2023-05-14 07:20:00,0.000803,2023-05-14 07:19:00,0.074688,1807.125714,...,26.174014,1926.011,756.006,1105.958,609.448,1955.637,4.0,36.0,1806.01,1803.35
127,Buy,1804.72,182276.72,L,1803.78,2023-05-14 07:59:00,-0.000521,2023-05-14 07:58:00,0.018289,1804.135714,...,80.960522,1082.444,119.677,680.762,447.646,1582.786,0.0,0.0,1804.67,1803.78
128,Sell,1803.78,-178574.22,W,1802.94,2023-05-14 08:01:00,0.000466,2023-05-14 08:00:00,0.026050,1804.064286,...,39.213387,1213.353,261.244,1082.444,119.677,680.762,0.0,13.0,1803.88,1801.00
129,Buy,1802.94,182096.94,L,1802.38,2023-05-14 08:17:00,-0.000311,2023-05-14 08:16:00,0.000000,1802.585714,...,50.949702,189.935,702.453,2069.177,3078.597,560.615,7.0,10.0,1804.19,1802.38
130,Sell,1802.38,-178435.62,L,1803.61,2023-05-14 08:27:00,-0.000682,2023-05-14 08:26:00,0.022188,1803.155714,...,70.644873,525.970,1273.439,188.159,1146.505,279.820,6.0,4.0,1803.77,1801.80

In [98]:
trade_df['TradeOpenTime']=pd.to_datetime(trade_df['TradeOpenTime'])
trade_df['Year'] = trade_df['TradeOpenTime'].dt.isocalendar().year
trade_df['Week'] = trade_df['TradeOpenTime'].dt.isocalendar().week

In [99]:
df_weekly = trade_df.groupby(['Year', 'Week'])['percentage'].sum().reset_index()
current_week = pd.to_datetime(datetime.now()).isocalendar()[1]
current_year =pd.to_datetime(datetime.now()).isocalendar()[0]

In [100]:
df_weekly

   Year  Week  percentage
0  2023    19   -0.033571

In [101]:
current_week

19

In [102]:
current_year

2023

In [103]:
lastTradeOpenTime = trade_df.iloc[-1]['OpenTime']
lastTradePerc = trade_df.iloc[-1]['percentage']
lastTradeOutcome = trade_df.iloc[-1]['trade']
print(f'from USDT previous trade opentime : {lastTradeOpenTime} , perc : {lastTradePerc} , trade : {lastTradeOutcome}')

from USDT previous trade opentime : 2023-05-14 08:26:00 , perc : -0.0006824310078894522 , trade : L

In [104]:
super_df[['OpenTime','in_uptrend']]

                OpenTime in_uptrend
0    2023-05-13 07:40:00          0
1    2023-05-13 07:41:00          0
2    2023-05-13 07:42:00          0
3    2023-05-13 07:43:00          0
4    2023-05-13 07:44:00          0
...                  ...        ...
1491 2023-05-14 08:31:00      False
1492 2023-05-14 08:32:00       True
1493 2023-05-14 08:33:00       True
1494 2023-05-14 08:34:00       True
1495 2023-05-14 08:35:00       True

[1496 rows x 2 columns]

In [106]:
super_df.at[1496,'in_uptrend']=False

In [120]:
super_df[['OpenTime','in_uptrend','open','close']].tail(15)

                OpenTime in_uptrend     open    close
1482 2023-05-14 08:22:00       True  1803.05  1803.14
1483 2023-05-14 08:23:00       True  1803.14  1803.86
1484 2023-05-14 08:24:00       True  1803.86  1803.70
1485 2023-05-14 08:25:00       True  1803.70  1802.78
1486 2023-05-14 08:26:00      False  1802.78  1802.38
1487 2023-05-14 08:27:00      False  1802.38  1802.42
1488 2023-05-14 08:28:00      False  1802.42  1802.44
1489 2023-05-14 08:29:00      False  1802.44  1802.31
1490 2023-05-14 08:30:00      False  1802.30  1802.39
1491 2023-05-14 08:31:00      False  1802.40  1803.29
1492 2023-05-14 08:32:00       True  1803.30  1803.61
1493 2023-05-14 08:33:00       True  1803.61  1803.45
1494 2023-05-14 08:34:00       True  1803.45  1803.46
1495 2023-05-14 08:35:00       True  1803.46  1803.63
1496                 NaT      False      NaN      NaN

In [121]:
import pandas as pd
import pytz

# Assuming 'date' is the column containing GMT dates in the DataFrame 'df'
super_df['OpenTime'] = pd.to_datetime(super_df['OpenTime']).dt.tz_localize('GMT')

# Convert GMT dates to CST
cst_tz = pytz.timezone('US/Central')
super_df['OpenTime'] = super_df['OpenTime'].apply(lambda x: x.astimezone(cst_tz))

# Optional: Remove timezone information if not needed
super_df['OpenTime'] = super_df['OpenTime'].dt.tz_convert(None)

print(super_df['OpenTime'])

ValueError: NaTType does not support astimezone

In [111]:
last_trend = df['in_uptrend'].iloc[-2]

for i in range(-2, -len(df)-1, -1):
    if df['in_uptrend'].iloc[i] != last_trend:
        print(df.iloc[i][['OpenTime','in_uptrend']])
        for j in range(i, -len(df)-1, -1):
            if df['in_uptrend'].iloc[j] == last_trend:
                print(df.iloc[j][['OpenTime','in_uptrend']])
                break
        break

OpenTime      2023-05-14 08:31:00
in_uptrend                  False
Name: 1491, dtype: object
OpenTime      2023-05-14 08:25:00
in_uptrend                   True
Name: 1485, dtype: object

In [113]:
trend_open= df.iloc[j+1]['in_uptrend']  #openprice
time_open = df.iloc[j+1]['OpenTime'] 
price_open = df.iloc[j+1]['close'] 

  #closeprice
time_close = df.iloc[i+1]['OpenTime'] 
price_close= df.iloc[i+1]['close']

In [114]:
if trend_open == False:
    if price_open > price_close:
        print('W')
    else:
        print('L')
else:
    if price_open < price_close:
        print('W')
    else:
        print('L')

W

In [115]:
price_open

1802.38

In [116]:
price_close

1803.61

'False'